# ambiente virtual
.venv/

# vscode
.vscode/

# cache
__pycache__/
*.pyc

# notebooks
.ipynb_checkpoints

# dados brutos
data/raw

# dados intermediários
data/processed

# logs
logs/*
*.log

# sistema
.DS_Store