# ambiente virtual
.venv/
venv/
env/

# vscode
.vscode/

# cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache

# notebooks
.ipynb_checkpoints

# data folders
data/raw
data/processed

# SQLite databases
data/*.db
*.sqlite
*.sqlite3

# logs
logs/*
*.log

# sistema
.DS_Store
Thumbs.db